* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    width: 700px;
    margin-left: 350px;
    margin-top: 50px;
    background-color: hsl(204, 43%, 93%);
}


.flex {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
}

.join {
    background-color: rgb(255, 255, 255);
    flex-basis: 100%;
    padding-top: 40px;
    padding-left: 45px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.joinheader {
    color:  hsl(179, 62%, 43%);
    font-size: 20px;
    font-weight: 700;
}

.joinp1 {
    color: hsl(71, 73%, 54%);
    font-size: 16px;
    font-weight: 700;
    padding-top: 30px;
}

.joinp2 {
    color: hsl(204, 9%, 79%);
    font-size: 16px;
    font-weight: 700;
    padding-top: 20px;
    line-height: 25px;
}

.monthly {
    background-color: hsl(179, 62%, 43%);
    flex-basis: 50%;
    padding-top: 40px;
    padding-left: 45px;
    border-bottom-left-radius: 8px;
}

.monthlyheader {
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}

.monthlyp1 {
    color: white;
    font-size: 30px;
    margin-bottom: 8px;
}

span {
    color: hsl(204, 9%, 79%);
    font-size: 16px;
    padding-left: 4px;
    vertical-align: middle;
}

.monthlyp2 {
    color: white;
    font-size: 16px;
    padding-bottom: 40px;
}

button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    padding: 10px 90px 10px 90px;
    border: none;
    border-radius: 4px;
}

.why {
    background-color: hsl(179, 37%, 54%);
    flex-basis: 50%;
    padding-top: 40px;
    padding-left: 45px;
    border-bottom-right-radius: 8px;
}

.whyheader {
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}

.whyp {
    color: hsl(204, 43%, 93%);
    font-size: 16px;
    width: 210px;
    line-height: 20px;
}

.attribution { 
    font-size: 11px; text-align: center; 
    padding-top: 8px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
